/aclocal.m4
/autom4te.cache
/conf??????
/confdefs.h
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/conftest.err
/libtool
/*.pc

Makefile
Makefile.in

.deps
.dirstamp
*.stamp
stamp-h1

matroska_schema.h

version.c

/schema_parse

.libs

*.a
*.dSYM
*.la
*.lo
*.loT
*.o
*.so

/element_test
/vint_test

.gdbinit

\#*\#
.\#*\#
*.sw[a-z]
