/aclocal.m4
/autom4te.cache
/conf??????
/confdefs.h
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/conftest.err
/libtool
/*.pc
/scan_build

Makefile
Makefile.in

.deps
.dirstamp
*.stamp
stamp-h1

ebml_schema.h
matroska_schema.h

matroska_semantics.h

version.c

/schema_parse

.libs

*.a
*.dSYM
*.la
*.lo
*.loT
*.o
*.so

/mkv_cat
/mkv_dump
/mkv_ls
/zlib_cat

/element_test
/vint_test

.gdbinit
.lldbinit

\#*\#
.\#*\#
*.sw[a-z]

test.mkv
